In [2]:
import os
import pandas as pd
import json

In [3]:
train_entities_path = 'train/entities'
test_entities_path = 'test/entities'

In [4]:
def load_entities(path):
    entities = []
    for file in os.listdir(path):
        if file.endswith('.txt'):
            with open(os.path.join(path, file), 'r') as f:
                data = json.load(f)
                data['file'] = file.replace('.txt', '.jpg')
                entities.append(data)
    return entities

In [5]:
train_entities = load_entities(train_entities_path)
test_entities = load_entities(test_entities_path)

df_train = pd.DataFrame(train_entities)
df_test = pd.DataFrame(test_entities)

print("Train Data:")
print(df_train.head())

Train Data:
                           company        date  \
0  DIGI TELECOMMUNICATIONS SDN BHD  13/10/2017
1   GARDENIA BAKERIES (KL) SDN BHD  30/10/2017
2               MR. D.I.Y. SDN BHD    24-11-17
3               RESTORAN WAN SHENG  21-03-2018
4                  ADVANCO COMPANY  17/01/2018

                                             address    total  \
0  LOT LG 315, 1-UTAMA SHOPPING CENTRE, LEBUH BAN...   234.40
1  LOT 3, JALAN PELABUR 23/1, 40300 SHAH ALAM, SE...    62.60
2  LOT 1851-A & 1851-B, JALAN KPB 6, KAWASAN PERI...  RM 3.90
3  NO.2, JALAN TEMENGGUNG 19/9, SEKSYEN 9, BANDAR...     6.70
4  NO 1&3, JALAN WANGSA DELIMA 12, WANGSA LINK, W...    29.00

               file
0  X51006555072.jpg
1  X51006557117.jpg
2  X51005568884.jpg
3  X51005711441.jpg
4  X51005806685.jpg

In [6]:
print("\nTest Data:")
print(df_test.head())

Test Data:
                            company        date  \
0       SYARIKAT PERNIAGAAN GIN KEE  25/01/2018
1          HON HWA HARDWARE TRADING  05/01/2017
2             OJC MARKETING SDN BHD  15/01/2019
3    GARDENIA BAKERIES (KL) SDN BHD  27/10/2017
4  GERBANG ALAF RESTAURANTS SDN BHD  24/06/2018

                                             address   total              file
0  NO 290, JALAN AIR PANAS, SETAPAK, 53200, KUALA...  190.80  X51005675104.jpg
1  NO 37, JALAN MANIS 7, TAMAN SEGAR, 56100 CHERA...    5.00  X51005568890.jpg
2  NO 2 & 4, JALAN BAYU 4, BANDAR SERI ALAM, B175...  193.00  X00016469670.jpg
3  LOT 3, JALAN PELABUR 23/1, 40300 SHAH ALAM, SE...   35.88  X51006557507.jpg
4  LEVEL 6, BANGUNAN TH, DAMANSARA UPTOWN3 NO.3, ...    7.35  X51007846396.jpg

In [7]:
def data_exploration(df):
    print(f"Total number of images: {len(df)}")
    print(f"Classes: {df.columns.tolist()}")

    for column in df.columns:
        if column != 'file':
            print(f"\nClass: {column}")
            print(df[column].value_counts().head(10))

In [8]:
print("\nTrain Data Exploration:")
data_exploration(df_train)

Train Data Exploration:
Total number of images: 626
Classes: ['company', 'date', 'address', 'total', 'file']

Class: company
GARDENIA BAKERIES (KL) SDN BHD    45
UNIHAKKA INTERNATIONAL SDN BHD    42
SANYU STATIONERY SHOP             36
99 SPEED MART S/B                 31
MR. D.I.Y. (M) SDN BHD            29
RESTORAN WAN SHENG                26
SYARIKAT PERNIAGAAN GIN KEE       22
AEON CO. (M) BHD                  15
POPULAR BOOK CO. (M) SDN BHD      12
KEDAI PAPAN YEW CHUAN             12
Name: company, dtype: int64

Class: date
20/03/2018    5
11/05/2018    5
27/03/2018    5
12/02/2018    4
04/12/2017    4
02/01/2018    4
20/04/2018    4
21/03/2018    3
14/04/2018    3
03/02/2018    3
Name: date, dtype: int64

Class: address
LOT 3, JALAN PELABUR 23/1, 40300 SHAH ALAM, SELANGOR.                                               46
LOT 1851-A & 1851-B, JALAN KPB 6, KAWASAN PERINDUSTRIAN BALAKONG, 43300 SERI KEMBANGAN, SELANGOR    44
NO. 31G&33G, JALAN SETIA INDAH X ,U13/X 40170 SETIA ALAM                                            36
12, JALAN TAMPOI 7/4,KAWASAN PERINDUSTRIAN TAMPOI,81200 JOHOR BAHRU,JOHOR                           34
NO.2, JALAN TEMENGGUNG 19/9, SEKSYEN 9, BANDAR MAHKOTA CHERAS, 43200 CHERAS, SELANGOR               26
NO 290, JALAN AIR PANAS, SETAPAK, 53200, KUALA LUMPUR.                                              18
3RD FLR, AEON TAMAN MALURI SC JLN JEJAKA, TAMAN MALURI CHERAS, 55100 KUALA LUMPUR                   15
NO. 17-G, JALAN SETIA INDAH (X) U13/X, SETIA ALAM, SEKSYEN U13, 40170 SHAH ALAM,                    12
LOT 276 JALAN BANTING 43800 DENGKIL, SELANGOR                                                        7
NO 8, JALAN 7/118B, DESA TUN RAZAK 56000 KUALA LUMPUR, MALAYSIA                                      7
Name: address, dtype: int64

Class: total
$8.20    12
8.70      9
12.00     8
5.00      8
7.00      7
6.00      6
5.90      4
$8.70     4
50.00     4
35.00     4
Name: total, dtype: int64

In [9]:
print("\nTest Data Exploration:")
data_exploration(df_test)

Test Data Exploration:
Total number of images: 347
Classes: ['company', 'date', 'address', 'total', 'file']

Class: company
GARDENIA BAKERIES (KL) SDN BHD      31
UNIHAKKA INTERNATIONAL SDN BHD      27
RESTORAN WAN SHENG                  14
99 SPEED MART S/B                   13
SANYU STATIONERY SHOP               13
MR. D.I.Y. (M) SDN BHD              12
SYARIKAT PERNIAGAAN GIN KEE         11
AEON CO. (M) BHD                     8
KEDAI PAPAN YEW CHUAN                7
GERBANG ALAF RESTAURANTS SDN BHD     7
Name: company, dtype: int64

Class: date
21/03/2018    4
01/02/2018    4
09/02/2018    3
03/06/2018    3
04/01/2018    3
21-03-2018    3
30/04/2017    3
13/01/2018    3
25/03/2018    3
14/03/2018    3
Name: date, dtype: int64

Class: address
LOT 3, JALAN PELABUR 23/1, 40300 SHAH ALAM, SELANGOR.                                               29
12, JALAN TAMPOI 7/4,KAWASAN PERINDUSTRIAN TAMPOI,81200 JOHOR BAHRU,JOHOR                           23
LOT 1851-A & 1851-B, JALAN KPB 6, KAWASAN PERINDUSTRIAN BALAKONG, 43300 SERI KEMBANGAN, SELANGOR    17
NO.2, JALAN TEMENGGUNG 19/9, SEKSYEN 9, BANDAR MAHKOTA CHERAS, 43200 CHERAS, SELANGOR               14
NO. 31G&33G, JALAN SETIA INDAH X ,U13/X 40170 SETIA ALAM                                            13
NO 290, JALAN AIR PANAS, SETAPAK, 53200, KUALA LUMPUR.                                              10
3RD FLR, AEON TAMAN MALURI SC JLN JEJAKA, TAMAN MALURI CHERAS, 55100 KUALA LUMPUR                    9
LOT 276 JALAN BANTING 43800 DENGKIL, SELANGOR.                                                       7
NO 8, JALAN 7/118B, DESA TUN RAZAK 56000 KUALA LUMPUR, MALAYSIA                                      6
NO. 1 JALAN EURO 1 OFF JALAN BATU TIGA SUNGAI BULOH SEKSYEN U3 SHAH ALAM, 40150                      4
Name: address, dtype: int64

Class: total
$8.20    6
8.70     6
7.20     6
$6.60    3
23.80    3
4.80     3
1.90     2
3.00     2
68.90    2
21.60    2
Name: total, dtype: int64